/*==================================
Theme Color All Codes Variable
==================================*/

:root {
    --theme-general-color: #7b7c7e;
    /* theme general color used*/
}

:root {
    --theme-primary-color: #c7a16a;
    /* theme primary color used*/
}

:root {
    --theme-secondary-color: #2f2942;
    /* theme secondary color used*/
}

:root {
    --theme-white-color: #ffffff;
    /* theme white font color used*/
}

:root {
    --theme-light-color: #fcf9f8;
    /* theme light gray color used*/
}

:root {
    --theme-gray-color: #efefef;
    /* theme gray color ok uded*/
}

:root {
    --theme-text-gray: #d8d8d8;
    /* theme text gray color used*/
}

:root {
    --text-light-color: #b2b4b7;
    /* text light color used*/
}

:root {
    --theme-dark-color: #100f12;
    /* theme dark color ok uded*/
}

:root {
    --theme-footer-color: #19171d;
    /* theme dark color used*/
}

:root {
	--theme-extra-color: #2e3042;
	/* theme extra color used*/
}

:root {
    --theme-primary-opacity-color: rgba(214, 176, 122, .8);
    /* theme secondary color used*/
}

:root {
	--theme-dark-opacity-color: rgba(16, 15, 18, .8);
	/* theme dark color used*/
}

:root {
    --theme-secondary-opacity-color: rgba(47, 41, 66, .8);
    /* theme secondary color used*/
}

:root {
    --theme-extra1-opacity-color: rgba(34, 144, 135, .8);
    /* theme secondary color used*/
}

:root {
    --theme-extra2-opacity-color: rgba(29, 45, 58, .8);
    /* theme secondary color used*/
}



/*==================================
Font Variable
==================================*/

:root {
    --theme-general-font: 'Quicksand', sans-serif;
    /* Font use for normal text and general text used*/
}

:root {
    --theme-highlight-font: 'Advent Pro', sans-serif;
    /* Font used in title or special area used*/
}

:root {
    --theme-hiperlink-font: 'Quicksand', sans-serif;
    /* Font use for normal text and link text */
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--theme-highlight-font);
    color: var(--theme-secondary-color);
    font-weight: 600;
}

h1,
.h1 {
    font-size: 48px;
}

h2,
.h2 {
    font-size: 40px;
}

h3,
.h3 {
    font-size: 36px;
}

h4,
.h4 {
    font-size: 30px;
}

h5,
.h5 {
    font-size: 24px;
}

h6,
.h6 {
    font-size: 21px;
}

.navbar-expand-lg .navbar-nav .nav-link {
	text-transform: uppercase;
	font-weight: 600
}
.dropdown-item {
    font-size: 14px;
	font-weight: 400
}
.navbar-expand-lg .navbar-nav .nav-item:last-child {
	margin-right: 0
}
#page_wrapper.overlay {
	position: relative
}
#page_wrapper.overlay::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
	background-color: var(--theme-dark-opacity-color);
	z-index: 100;
}
.btn-primary {
	color: var(--theme-white-color)
}